---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: modules.kerrareg.io
spec:
  group: kerrareg.io
  names:
    kind: Module
    listKind: ModuleList
    plural: modules
    singular: module
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The provider of the module
      jsonPath: .spec.provider
      name: Provider
      type: string
    - description: The source repository URL of the module
      jsonPath: .spec.repoUrl
      name: RepoURL
      type: string
    - description: The configuration for module storage
      jsonPath: .spec.storageConfig
      name: StorageConfig
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Module is the Schema for the Modules API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ModuleSpec defines the desired state of a Kerrareg Module.
            properties:
              provider:
                type: string
              repoUrl:
                type: string
              storageConfig:
                properties:
                  s3:
                    properties:
                      bucket:
                        type: string
                      region:
                        type: string
                    required:
                    - bucket
                    - region
                    type: object
                type: object
              versions:
                items:
                  description: ModuleVersionSpec defines a specific version of a Kerrareg
                    Module.
                  properties:
                    checksum:
                      type: string
                    fileName:
                      type: string
                    storage:
                      properties:
                        s3:
                          properties:
                            config:
                              properties:
                                bucket:
                                  type: string
                                region:
                                  type: string
                              required:
                              - bucket
                              - region
                              type: object
                            key:
                              type: string
                          required:
                          - key
                          type: object
                      type: object
                    version:
                      type: string
                  required:
                  - fileName
                  - storage
                  - version
                  type: object
                type: array
            required:
            - provider
            - repoUrl
            - versions
            type: object
          status:
            description: ModuleStatus defines the observed state of a module.
            properties:
              moduleVersions:
                items:
                  description: ModuleVersionSpec defines a specific version of a Kerrareg
                    Module.
                  properties:
                    checksum:
                      type: string
                    fileName:
                      type: string
                    storage:
                      properties:
                        s3:
                          properties:
                            config:
                              properties:
                                bucket:
                                  type: string
                                region:
                                  type: string
                              required:
                              - bucket
                              - region
                              type: object
                            key:
                              type: string
                          required:
                          - key
                          type: object
                      type: object
                    version:
                      type: string
                  required:
                  - fileName
                  - storage
                  - version
                  type: object
                type: array
              synced:
                type: boolean
            required:
            - synced
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
