{{- if and .Values.module.enabled .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: module-controller-manager-role
rules:
- apiGroups:
  - kerrareg.io
  resources:
  - modules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kerrareg.io
  resources:
  - modules/finalizers
  verbs:
  - update
- apiGroups:
  - kerrareg.io
  resources:
  - modules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kerrareg.io
  resources:
  - versions
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: module-controller-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: module-controller-manager-role
subjects:
- kind: ServiceAccount
  name: module-controller-manager
  namespace: {{ .Values.global.namespace }}
{{- end }}
