{{- if .Values.server.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: {{ .Values.global.namespace }}
  labels:
    app: server
spec:
  replicas: {{ .Values.server.replicaCount }}
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      serviceAccountName: server
      securityContext:
        runAsNonRoot: true
        runAsUser: 65532
      containers:
      - name: server
        image: "{{ .Values.server.image.repository }}:{{ .Values.global.image.tag }}"
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        ports:
        - name: https
          containerPort: {{ .Values.server.service.targetPort }}
          protocol: TCP
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
        resources:
          {{- toYaml .Values.server.resources | nindent 10 }}
        {{- if .Values.server.tls.enabled }}
        volumeMounts:
        - name: tls
          mountPath: {{ .Values.server.tls.certPath | dir }}
          readOnly: true
        {{- end }}
      {{- if .Values.server.tls.enabled }}
      volumes:
      - name: tls
        secret:
          secretName: kerrareg-tls
      {{- end }}
      {{- with .Values.server.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.server.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.server.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
