---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
- apiGroups:
  - kerrareg.io
  resources:
  - modules
  verbs:
  - get
- apiGroups:
  - kerrareg.io
  resources:
  - modules/status
  - versions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kerrareg.io
  resources:
  - versions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kerrareg.io
  resources:
  - versions/finalizers
  verbs:
  - update
