---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: depots.kerrareg.io
spec:
  group: kerrareg.io
  names:
    kind: Depot
    listKind: DepotList
    plural: depots
    singular: depot
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Depot is the Schema for the depots API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DepotSpec defines the desired state of Depot.
            properties:
              global:
                description: |-
                  The configuration that should be applied to all modules that are part
                  of this Depot.
                properties:
                  githubClientConfig:
                    properties:
                      useAuthenticatedClient:
                        description: |-
                          This flag determines whether the GitHub client used to download modules
                          will be authenticated with a Github App. It's highly recommended
                          to enable this flag to avoid GitHub API rate limiting. When enabled, the namespace where the Module resource exists
                          must contain a Secret named 'kerrareg-github-application-secret'. The secret must contain a githubAppID,
                          githubInstallID, and githubPrivateKey field. The private key must also be base64 encoded before being added
                          as data to the secret. When accessed, the controller will base64 decode the key to build an in-memory client
                          to authenticate with the Github API.
                        type: boolean
                    type: object
                  moduleConfig:
                    description: |-
                      ModuleConfig is the configuration settings for the Module and for each
                      Version created by the Module controller.
                    properties:
                      fileFormat:
                        description: |-
                          The file format of the module
                          This must be one of 'zip' or 'tar'.
                        type: string
                      githubClientConfig:
                        description: The Github client configuration settings.
                        properties:
                          useAuthenticatedClient:
                            description: |-
                              This flag determines whether the GitHub client used to download modules
                              will be authenticated with a Github App. It's highly recommended
                              to enable this flag to avoid GitHub API rate limiting. When enabled, the namespace where the Module resource exists
                              must contain a Secret named 'kerrareg-github-application-secret'. The secret must contain a githubAppID,
                              githubInstallID, and githubPrivateKey field. The private key must also be base64 encoded before being added
                              as data to the secret. When accessed, the controller will base64 decode the key to build an in-memory client
                              to authenticate with the Github API.
                            type: boolean
                        type: object
                      immutable:
                        description: |-
                          When true, enforces that the ChecksumSHA256 of the module archive
                          always matches the value stored in this field and in any destination storage config.
                        type: boolean
                      name:
                        description: |-
                          The name of the module. If omitted, the name of the Module resource
                          is used in its place.
                        type: string
                      provider:
                        description: The main terraform or tofu provider required
                          for this module.
                        type: string
                      repoOwner:
                        description: Owner of the Github repository.
                        type: string
                      repoUrl:
                        description: The full URL of the Github repository.
                        type: string
                      storageConfig:
                        description: The external storage configuration settings.
                        properties:
                          azureStorage:
                            properties:
                              accountName:
                                description: The Azure Storage Account name.
                                type: string
                              accountUrl:
                                description: The Azure Storage Account URL.
                                type: string
                              resourceGroup:
                                description: The Azure Resource Group where the Azure
                                  Storage Account is located.
                                type: string
                              subscriptionID:
                                description: The Azure subscription ID where the Azure
                                  Storage Account is located.
                                type: string
                            required:
                            - accountName
                            - accountUrl
                            - resourceGroup
                            - subscriptionID
                            type: object
                          fileSystem:
                            description: The configuration settings for storing Versions
                              on a local filesystem.
                            properties:
                              directoryPath:
                                description: The directory path on the file system
                                  where the Version will be stored.
                                type: string
                            type: object
                          gcs:
                            description: The configuration settings for storing Versions
                              in a Google Cloud Storage bucket.
                            properties:
                              bucket:
                                description: The GCS bucket name.
                                type: string
                            required:
                            - bucket
                            type: object
                          s3:
                            description: The configuration settings for storing Versions
                              in an Amazon S3 bucket.
                            properties:
                              bucket:
                                description: The S3 bucket name.
                                type: string
                              key:
                                description: |-
                                  The S3 bucket key, ie: 'my/bucket/prefix'
                                  The file name will be automatically generated by the kerrareg-module-controller.
                                type: string
                              region:
                                description: The AWS region for the bucket.
                                type: string
                            required:
                            - bucket
                            - region
                            type: object
                        type: object
                      versionConstraints:
                        description: |-
                          A comma separated list of version constraints such as
                          '1.2.1' or '>= 1.0.0, < 2.0.0' or '~> 1.0.0, != 1.0.2'. This field is only
                          respected by the Depot controller.
                        type: string
                    type: object
                  storageConfig:
                    description: StorageConfig holds details about how to store a
                      Version.
                    properties:
                      azureStorage:
                        properties:
                          accountName:
                            description: The Azure Storage Account name.
                            type: string
                          accountUrl:
                            description: The Azure Storage Account URL.
                            type: string
                          resourceGroup:
                            description: The Azure Resource Group where the Azure
                              Storage Account is located.
                            type: string
                          subscriptionID:
                            description: The Azure subscription ID where the Azure
                              Storage Account is located.
                            type: string
                        required:
                        - accountName
                        - accountUrl
                        - resourceGroup
                        - subscriptionID
                        type: object
                      fileSystem:
                        description: The configuration settings for storing Versions
                          on a local filesystem.
                        properties:
                          directoryPath:
                            description: The directory path on the file system where
                              the Version will be stored.
                            type: string
                        type: object
                      gcs:
                        description: The configuration settings for storing Versions
                          in a Google Cloud Storage bucket.
                        properties:
                          bucket:
                            description: The GCS bucket name.
                            type: string
                        required:
                        - bucket
                        type: object
                      s3:
                        description: The configuration settings for storing Versions
                          in an Amazon S3 bucket.
                        properties:
                          bucket:
                            description: The S3 bucket name.
                            type: string
                          key:
                            description: |-
                              The S3 bucket key, ie: 'my/bucket/prefix'
                              The file name will be automatically generated by the kerrareg-module-controller.
                            type: string
                          region:
                            description: The AWS region for the bucket.
                            type: string
                        required:
                        - bucket
                        - region
                        type: object
                    type: object
                required:
                - storageConfig
                type: object
              moduleConfigs:
                items:
                  description: |-
                    ModuleConfig is the configuration settings for the Module and for each
                    Version created by the Module controller.
                  properties:
                    fileFormat:
                      description: |-
                        The file format of the module
                        This must be one of 'zip' or 'tar'.
                      type: string
                    githubClientConfig:
                      description: The Github client configuration settings.
                      properties:
                        useAuthenticatedClient:
                          description: |-
                            This flag determines whether the GitHub client used to download modules
                            will be authenticated with a Github App. It's highly recommended
                            to enable this flag to avoid GitHub API rate limiting. When enabled, the namespace where the Module resource exists
                            must contain a Secret named 'kerrareg-github-application-secret'. The secret must contain a githubAppID,
                            githubInstallID, and githubPrivateKey field. The private key must also be base64 encoded before being added
                            as data to the secret. When accessed, the controller will base64 decode the key to build an in-memory client
                            to authenticate with the Github API.
                          type: boolean
                      type: object
                    immutable:
                      description: |-
                        When true, enforces that the ChecksumSHA256 of the module archive
                        always matches the value stored in this field and in any destination storage config.
                      type: boolean
                    name:
                      description: |-
                        The name of the module. If omitted, the name of the Module resource
                        is used in its place.
                      type: string
                    provider:
                      description: The main terraform or tofu provider required for
                        this module.
                      type: string
                    repoOwner:
                      description: Owner of the Github repository.
                      type: string
                    repoUrl:
                      description: The full URL of the Github repository.
                      type: string
                    storageConfig:
                      description: The external storage configuration settings.
                      properties:
                        azureStorage:
                          properties:
                            accountName:
                              description: The Azure Storage Account name.
                              type: string
                            accountUrl:
                              description: The Azure Storage Account URL.
                              type: string
                            resourceGroup:
                              description: The Azure Resource Group where the Azure
                                Storage Account is located.
                              type: string
                            subscriptionID:
                              description: The Azure subscription ID where the Azure
                                Storage Account is located.
                              type: string
                          required:
                          - accountName
                          - accountUrl
                          - resourceGroup
                          - subscriptionID
                          type: object
                        fileSystem:
                          description: The configuration settings for storing Versions
                            on a local filesystem.
                          properties:
                            directoryPath:
                              description: The directory path on the file system where
                                the Version will be stored.
                              type: string
                          type: object
                        gcs:
                          description: The configuration settings for storing Versions
                            in a Google Cloud Storage bucket.
                          properties:
                            bucket:
                              description: The GCS bucket name.
                              type: string
                          required:
                          - bucket
                          type: object
                        s3:
                          description: The configuration settings for storing Versions
                            in an Amazon S3 bucket.
                          properties:
                            bucket:
                              description: The S3 bucket name.
                              type: string
                            key:
                              description: |-
                                The S3 bucket key, ie: 'my/bucket/prefix'
                                The file name will be automatically generated by the kerrareg-module-controller.
                              type: string
                            region:
                              description: The AWS region for the bucket.
                              type: string
                          required:
                          - bucket
                          - region
                          type: object
                      type: object
                    versionConstraints:
                      description: |-
                        A comma separated list of version constraints such as
                        '1.2.1' or '>= 1.0.0, < 2.0.0' or '~> 1.0.0, != 1.0.2'. This field is only
                        respected by the Depot controller.
                      type: string
                  type: object
                type: array
            required:
            - moduleConfigs
            type: object
          status:
            description: DepotStatus defines the observed state of Depot.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
