---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: modules.kerrareg.io
spec:
  group: kerrareg.io
  names:
    kind: Module
    listKind: ModuleList
    plural: modules
    singular: module
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The latest version of the module
      jsonPath: .status.latestVersion
      name: LatestVersion
      type: string
    - description: The provider of the module
      jsonPath: .spec.moduleConfig.provider
      name: Provider
      type: string
    - description: The source repository URL of the module
      jsonPath: .spec.moduleConfig.repoUrl
      name: RepoURL
      type: string
    - description: The configuration for module storage
      jsonPath: .spec.moduleConfig.storageConfig
      name: StorageConfig
      type: string
    - description: Whether the Module has synced successfully
      jsonPath: .status.synced
      name: Synced
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Module is the Schema for the Modules API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ModuleSpec defines the desired state of a Kerrareg Module.
            properties:
              forceSync:
                description: A flag to force a module to synchronize
                type: boolean
              moduleConfig:
                description: The configuration details for the module that will be
                  used to create each ModuleVersion
                properties:
                  fileFormat:
                    description: |-
                      The file format of the module
                      This must be one of 'zip' or 'tar'.
                    type: string
                  githubClientConfig:
                    description: The Github client configuration settings.
                    properties:
                      useAuthenticatedClient:
                        description: |-
                          This flag determines whether the GitHub client used to download modules
                          will be authenticated with a Github App. It's highly recommended
                          to enable this flag to avoid GitHub API rate limiting. When enabled, the namespace where the Module resource exists
                          must contain a Secret named 'kerrareg-github-application-secret'. The secret must contain a githubAppID,
                          githubInstallID, and githubPrivateKey field. The private key must also be base64 encoded before being added
                          as data to the secret. When accessed, the controller will base64 decode the key to build an in-memory client
                          to authenticate with the Github API.
                        type: boolean
                    type: object
                  immutable:
                    description: |-
                      When true, enforces that the ChecksumSHA256 of the module archive
                      always matches the value stored in this field and in any destination storage config.
                    type: boolean
                  name:
                    description: |-
                      The name of the module. If omitted, the name of the Module resource
                      is used in its place.
                    type: string
                  provider:
                    description: The main terraform or tofu provider required for
                      this module.
                    type: string
                  repoOwner:
                    description: Owner of the Github repository.
                    type: string
                  repoUrl:
                    description: The full URL of the Github repository.
                    type: string
                  storageConfig:
                    description: The external storage configuration settings.
                    properties:
                      fileSystem:
                        description: The configuration settings for storing Versions
                          on a local filesystem.
                        properties:
                          directoryPath:
                            description: The directory path on the file system where
                              the Version will be stored.
                            type: string
                        type: object
                      s3:
                        description: The configuration settings for storing Versions
                          in an Amazon S3 bucket.
                        properties:
                          bucket:
                            description: The S3 bucket name.
                            type: string
                          key:
                            description: |-
                              The S3 bucket key, ie: 'my/bucket/prefix'
                              The file name will be automatically generated by the kerrareg-module-controller.
                            type: string
                          region:
                            description: The AWS region for the bucket.
                            type: string
                        required:
                        - bucket
                        - region
                        type: object
                    type: object
                type: object
              versions:
                description: |-
                  The version of the module. This should be a list of maps with semantic version tags. For example, 'version: v1.0.0', or 'version: 1.0.0'.
                  The version controller will automatically trim any leading 'v' character to make them compatible
                  with the registry protocol
                items:
                  description: ModuleVersion holds details about the Version resource
                    under management.
                  properties:
                    fileName:
                      description: The randomly generated filename with its file extension.
                      type: string
                    name:
                      description: The name of the module.
                      type: string
                    synced:
                      description: Whether the Version for the Module has synced or
                        not.
                      type: boolean
                    version:
                      description: The version of the module.
                      type: string
                  type: object
                type: array
            required:
            - moduleConfig
            - versions
            type: object
          status:
            description: ModuleStatus defines the observed state of a module.
            properties:
              fileName:
                description: The randomly generated filename with its file extension.
                type: string
              latestVersion:
                description: The latest available version of the module
                type: string
              moduleVersionRefs:
                additionalProperties:
                  description: ModuleVersion holds details about the Version resource
                    under management.
                  properties:
                    fileName:
                      description: The randomly generated filename with its file extension.
                      type: string
                    name:
                      description: The name of the module.
                      type: string
                    synced:
                      description: Whether the Version for the Module has synced or
                        not.
                      type: boolean
                    version:
                      description: The version of the module.
                      type: string
                  type: object
                description: A slice of the ModuleVersionRefs that have been successfully
                  created by the controller
                type: object
              syncStatus:
                description: A field for declaring current status information about
                  how the resource is being reconciled
                type: string
              synced:
                description: A flag to determine if the module has successfully synced
                  to its desired state
                type: boolean
            required:
            - syncStatus
            - synced
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
